/Content/Developers/
Build/
backup/
Intermediate/
Binaries/
Saved/
/Config/*
!/Config/DefaultEngine.ini
!/Config/DefaultGame.ini
DerivedDataCache/
(name_conflict)_.vs/
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.gch
*.pch
*.exe
*.VC.VC.opendb
*.log